/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../global";

.instruction {

	background: $darkGreen;
	padding: 80px;
	color: white;
	font-size: 1.125em;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		margin-bottom: 40px;
	}

	button {
		width: 300px;
		align-self: center;
		margin-top: 40px;
	}

	video {
		border: black solid 8px;
		box-shadow: 0 10px 40px black;
		max-height: 60vh;
		max-width: 80vw;
		object-fit: contain;
	}

}