/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../global";

.verification {

	width: 100%;
	height: 100%;
	background: $green;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.form {

		background: $darkGreen;
		box-shadow: 0 0 20px $darkGreen;
		width: 40%;
		display: flex;
		flex-direction: column;
		padding: 40px;
		border-radius: 20px;
		color: white;

	}

	h2, input, p {
		margin-bottom: 20px;
	}

	input {
		font-family: monospace;
		border-radius: 10px;
		border: none;
	}

	input, button {
		padding: 10px;
		flex-grow: 1;
	}

	button {
		margin: 0;
	}

	.buttons {
		display: flex;
	}

	.backButton {
		flex-grow: 1;
		margin-right: 20px;
	}

	.submitButton {
		flex-grow: 2;
	}

}