/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../global";

.intro {

	width: 100%;
	height: 100%;
	background: $green;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.form {

		background: $darkGreen;
		box-shadow: 0 0 20px $darkGreen;
		width: 40%;
		display: flex;
		flex-direction: column;
		padding: 40px;
		border-radius: 20px;


		h1 {
			margin-bottom: 20px;
			color: white;
		}

		input {
			margin: 20px 0;
			font-family: monospace;
			font-size: 1.5em;
			padding: 10px;
			font-weight: bold;
			text-align: center;
			border-radius: 10px;
			border: none;
		}

		button {
			margin: 0;
		}

		p {
			color: white;
			flex-grow: 1;
		}


	}

}