/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../global";

.doneView {

	background: $green;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	font-size: 1.5em;

	.container {
		width: 40vw;
		color: white;
	}

	* {
		margin-bottom: 20px;
	}

}