@import "../../App.css";
@import "../../global";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.closedPage {

	background: $darkGreen;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.container {
		background: white;
		padding: 80px;
		border-radius: 20px;
		font-size: 1.5em;
	}

	p {
		margin-top: 40px;
	}

}