/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

$colorBackground: #232324;
$colorSecondary: rgb(119, 119, 119);
$colorBackgroundLight: $colorSecondary;
$colorHighlight: rgb(63, 63, 63);
$colorForeground: #fff;
$colorAction: rgb(92, 188, 224);
$colorPrimary: white;