/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "variables";

.App {

	.appContainer {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.appContent {
		width: 100%;
		max-width: 720px;
		padding: 0 40px;
	}

}